body {
 background: #f4f4f4;
}

.redbox, .greenbox, .bluebox{
    padding: 10px 5px;
    border: #ccc 1px solid;
    text-align:center;
}

.redbox{
    background: red;
    color: #fff;
}

.greenbox {
    background: green;
    color: #fff;
}

.bluebox{
    background: blue;
    color: #fff;
}
