extends layout

block content
  h1 #{title}
  p
    | We are a software/hardware troubleshooting company. We consider your problem as our problem and solve it asap.
  p
    | We work on the latest technologies, operating systems.
